[submodule "roles/mysql-replication-slave"]
	path = roles/mysql-replication-slave
	url = ssh://gitlab@git.forgeservicelab.fi:10022/ansible-roles/mysql-replication-slave.git
[submodule "roles/mysql-replication-master"]
	path = roles/mysql-replication-master
	url = ssh://gitlab@git.forgeservicelab.fi:10022/ansible-roles/mysql-replication-master.git
[submodule "roles/backup-source"]
	path = roles/backup-source
	url = ssh://gitlab@git.forgeservicelab.fi:10022/ansible-roles/backup-source.git
[submodule "roles/postgresql-replication-master"]
	path = roles/postgresql-replication-master
	url = ssh://gitlab@git.forgeservicelab.fi:10022/ansible-roles/postgresql-replication-master.git
[submodule "roles/postgresql-replication-standby"]
	path = roles/postgresql-replication-standby
	url = ssh://gitlab@git.forgeservicelab.fi:10022/ansible-roles/postgresql-replication-standby.git
[submodule "roles/backup-target"]
	path = roles/backup-target
	url = ssh://gitlab@git.forgeservicelab.fi:10022/ansible-roles/backup-target.git
[submodule "roles/zenoamaro.postgresql"]
	path = roles/zenoamaro.postgresql
	url = https://github.com/zenoamaro/ansible-postgresql.git
[submodule "roles/common"]
	path = roles/common
	url = ssh://gitlab@git.forgeservicelab.fi:10022/ansible-roles/common.git
[submodule "roles/forge_ssl"]
	path = roles/forge_ssl
	url = ssh://gitlab@git.forgeservicelab.fi:10022/ansible-roles/forge_ssl.git
