---
- name: Set up cron entry for daily mysql snapshot
  cron:
    name: "Daily plaza database snapshot"
    user: replicator
    special_time: daily
    job: mysql -u root -e 'STOP SLAVE SQL_THREAD;'; /usr/bin/mysqldump -u root -B plaza_production --dump-slave=1 | gzip > /data/database_snapshots/plaza/plaza_production-`date +\%F`.sql.gz; mysql -u root -e 'START SLAVE SQL_THREAD;'

- name: set up cron entry for daily postgresql snapshot
  cron:
    name: "Daily database server snapshot"
    user: postgres
    special_time: daily
    job: /usr/bin/psql -c 'select pg_xlog_replay_pause()'; /usr/bin/pg_dumpall | gzip > /data/database_snapshots/dbserver/dbserver-`date +\%F`.psql.gz; /usr/bin/psql -c 'select pg_xlog_replay_resume()'

- name: Set up cron entry for daily plaza filesystem snapshot
  cron:
    name: "Daily plaza filesystem snapshot"
    user: replicator
    special_time: daily
    job: /bin/tar czf /data/filesystem_snapshots/plaza/plaza_`date +\%F`.tar.gz /data/filesystem/plaza

- name: Set up cron entry for daily redmine filesystem snapshot
  cron:
    name: "Daily redmine filesystem snapshot"
    user: replicator
    special_time: daily
    job: /bin/tar czf /data/filesystem_snapshots/redmine/redmine_`date +\%F`.tar.gz /data/filesystem/redmine

- name: Set up cron entry for daily gitlab filesystem snapshot
  cron:
    name: "Daily gitlab filesystem snapshot"
    user: replicator
    special_time: daily
    job: /bin/tar czf /data/filesystem_snapshots/gitlab/gitlab_`date +\%F`.tar.gz /data/filesystem/gitlab

- name: Set up cron entry for daily jenkins configuration filesystem snapshot
  cron:
    name: "Daily jenkins configuration filesystem snapshot"
    user: replicator
    special_time: daily
    job: /bin/tar czf /data/filesystem_snapshots/jenkins/jenkins_conf_`date +\%F`.tar.gz --exclude=jobs /data/filesystem/jenkins

- name: Set up cron entry for daily jenkins job filesystem snapshot
  cron:
    name: "Daily jenkins job filesystem snapshot"
    user: replicator
    special_time: daily
    job: /bin/tar czf /data/filesystem_snapshots/jenkins/jenkins_jobs_`date +\%F`.tar.gz /data/filesystem/jenkins/jobs

- name: Set up cron entry for daily ldap database filesystem snapshot
  cron:
    name: "Daily ldap database filesystem snapshot"
    user: replicator
    special_time: daily
    job: /bin/tar czf /data/filesystem_snapshots/ldap/ldap_`date +\%F`.tar.gz /data/filesystem/ldap

- name: Set up hourly filesystem synchronization for plaza
  cron:
    name: "Hourly plaza filesystem sync"
    user: replicator
    minute: 55
    hour: "0-5,7-23"
    job: "/usr/bin/rsync -a --inplace --delete-after --rsh='ssh' replicator@nfs.forgeservicelab.fi:{{ plaza_filesystem_source }} /data/filesystem/plaza"

- name: Set up hourly filesystem syncrhonization for redmine
  cron:
    name: "Hourly redmine filesystem sync"
    user: replicator
    minute: 55
    hour: "0-5,7-23"
    job: "/usr/bin/rsync -a --inplace --delete-after --rsh='ssh' replicator@support.forgeservicelab.fi:{{ redmine_filesystem_source }} /data/filesystem/redmine"

- name: Set up hourly filesystem synchronization for gitlab
  cron:
    name: "Hourly gitlab filesystem sync"
    user: replicator
    minute: 55
    hour: "0-5,7-23"
    job: "/usr/bin/rsync -a --inplace --delete-after --rsh='ssh' gitlab@git.forgeservicelab.fi:{{ gitlab_filesystem_source }} /data/filesystem/gitlab"

- name: Set up hourly filesystem synchronization for jenkins job configurations
  cron:
    name: "Hourly jenkins filesystem sync"
    user: replicator
    minute: 55
    hour: "0-5,7-23"
    job: "/usr/bin/rsync -am --delete-after --exclude='promotions/' --include='*/' --include='config.xml' --include='credentials.xml' --exclude='*' --rsh='ssh' jenkins@ci.forgeservicelab.fi:. /data/filesystem/jenkins"

- name: Set up hourly filesystem synchronization for ldap database
  cron:
    name: "Hourly ldap database filesystem sync"
    user: replicator
    minute: 55
    hour: "0-5,7-23"
    job: "/usr/bin/rsync -a --inplace --delete-after --include='*/' --exclude='/*' --rsh='ssh' ldap@auth.forgeservicelab.fi:{{ ldap_filesystem_source }}/ /data/filesystem/ldap/"

- name: Set up daily synchronization of jenkins performance results
  cron:
    name: "Daily jenkins {{ item }} performance results"
    user: replicator
    special_time: daily
    job: "/usr/bin/rsync -amz --no-links --exclude='archive/' --include='*/' --include='*.jtl' --exclude='*' --rsh='ssh' jenkins@ci.forgeservicelab.fi:jobs/Plaza-Performance-testing-Continuously-{{ item }}/builds/ /data/performance/{{ item }}/"
  with_items:
    - DEVEL
    - TESTING
    - PRODUCTION
